
<section>
    <h4 class="text-center m-2">ADMIN LOGIN</h4>
  
    <div class="d-flex justify-content-center">
        <form class="w-50 p-3 bg-secondary"  #loginForm="ngForm" (submit)="collectData(loginForm)">
            <div>
                <small class="text-danger">{{errorMessage}}</small>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">USERNAME</label>
                <input type="text" class="form-control" title="username" name="username" 
                [(ngModel)]="admin.username"  #username="ngModel" required>
                <div class="text-danger text-end" *ngIf="username.touched">
                    <div *ngIf="username.hasError('required')">Username is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">PASSWORD</label>
                <input type="password" class="form-control" title="password"  name="password" [(ngModel)]="admin.password"
                #password="ngModel" required>
                <div class="text-danger text-end" *ngIf="password.touched">
                    <div *ngIf="password.hasError('required')">Password is required</div>
                </div>
            </div>
                <button type="submit" mat-raised-button class="m-2">LOGIN</button>
                <button type="reset" mat-raised-button >Reset</button>
          </form>
    </div>
</section>