<article>
    <h4>{{bindingImage.name}}</h4>
    <img [src]="bindingImage.url" 
    [alt]="bindingImage.name" 
    [height]="bindingImage.height" 
    [width]="bindingImage.width" title="data binding">
<div>
    <h4><span>Company Director:</span><span>{{className.companyDirector}}</span></h4>
    <h5>1-way data binding</h5>
    <h6>{{companyName}}</h6>  <!-- view gets affected -->
    <h6>{{baseLocation}}</h6> 
</div>
<hr>
<div>
    <h5>2-way data binding</h5>
    <label for="location">Base Location :</label>
    <input  type="text" [(ngModel)]="baseLocation" title="location" (input)="display()" />
</div>
<hr>
<div>
    <h5>Event binding</h5>
    <input (change)="display()" type="checkbox" [(ngModel)]="checkStatus" title="showp"> <label for="showp">: show password</label>
    <div>
        <b>{{checkStatus}}</b>
    </div>
</div>
<hr>
<div class="bg-warning p-2" #attrbind (click)="access(attrbind)">
    <h5>Attribute binding</h5>
    <label for="password">Enter password:</label>
    <input [type]="inputType" title="password">
</div>
<hr>
<div>
    <h5>Template Reference Variables</h5>
    <label>Enter company code:</label>
    <input type="text" #code title="code">
    <button type="button" (click)="setCode(code)">SEND</button>
</div>
</article>
<article>
    <h3>Structural Directives</h3>
    <div>
        <h4>*ngIf</h4>
        <div>
            <label for="location">Base Location :</label>
            <input  type="text" [(ngModel)]="baseLocation" title="location" list="bl" />
        </div>
        <datalist id="bl">
            <option value="Dadar">DADAR</option>
            <option value="Rabale">RABALE</option>
            <option value="Parel">PAREL</option>
        </datalist>
        <address *ngIf="baseLocation.toLowerCase()=='rabale'">
            <p>
                Sigma IT Park, Unit No. 501, TTC Industrial Area, Rabale, Navi Mumbai, Maharashtra 400701
            </p>
        </address>
        <address *ngIf="baseLocation.toLowerCase()=='dadar'">
            <p>
                dadar location address
            </p>
        </address>
        <address *ngIf="baseLocation.toLowerCase()=='parel'">
            <p>
                parel location address
            </p>
        </address>
    </div>
    <div>
        <h4>*ngIf-else</h4>
        <div>
            <label for="location">Base Location :</label>
            <input  type="text" [(ngModel)]="baseLocation" title="location" list="bl" />
        </div>
        <datalist id="bl">
            <option value="Dadar">DADAR</option>
            <option value="Rabale">RABALE</option>
            <option value="Parel">PAREL</option>
        </datalist>
        <address *ngIf="baseLocation.toLowerCase()=='rabale'; else elsepart1">
            <p>
                Sigma IT Park, Unit No. 501, TTC Industrial Area, Rabale, Navi Mumbai, Maharashtra 400701
            </p>
        </address>
        <ng-template #elsepart1>
            <address *ngIf="baseLocation.toLowerCase()=='dadar'; else elsepart2">
                <p>
                    dadar location address
                </p>
            </address>
            <ng-template #elsepart2>
                <address>
                    <p>
                        parel location address
                    </p>
                </address>
            </ng-template>
        </ng-template>
    </div>
    <div>
        <h4>*ngIf-then-else</h4>
        <div>
            <label for="location">Base Location :</label>
            <input  type="text" [(ngModel)]="baseLocation" title="location" list="bl" />
        </div>
        <datalist id="bl">
            <option value="Dadar">DADAR</option>
            <option value="Rabale">RABALE</option>
            <option value="Parel">PAREL</option>
        </datalist>
        <ng-template *ngIf="baseLocation.toLowerCase()=='rabale' then thenblock1; else elseblock1"></ng-template>
        <ng-template #thenblock1>
            <address>
                <p>
                    Sigma IT Park, Unit No. 501, TTC Industrial Area, Rabale, Navi Mumbai, Maharashtra 400701
                </p>
            </address>
        </ng-template>
        <ng-template #elseblock1>
           <ng-template *ngIf="baseLocation.toLowerCase()=='dadar' then thenblock2; else elseblock2"></ng-template>
           <ng-template #thenblock2>
                    <p>
                        dadar location address
                    </p>
           </ng-template>
        </ng-template>
        <ng-template #elseblock2>
            <address>
                <p>
                    parel location address
                </p>
            </address>
        </ng-template>
    </div>
</article>