<article>
    <h4>{{bindingImage.name}}</h4>
    <img [src]="bindingImage.url" 
    [alt]="bindingImage.name" 
    [height]="bindingImage.height" 
    [width]="bindingImage.width" title="data binding">
<div>
   
    <h5>1-way data binding</h5>
    <h6>{{companyName}}</h6>  <!-- view gets affected -->
    <h6>{{baseLocation}}</h6> 
</div>
<hr>
<div>
    <h5>2-way data binding</h5>
    <label for="location">Base Location :</label>
    <input type="text" [(ngModel)]="baseLocation" id="location" (input)="display()" />
</div>
<hr>
<div>
    <h5>Event binding</h5>
    <input (change)="display()" type="checkbox" [(ngModel)]="checkStatus" id="showp"> <label for="showp">: show password</label>
    <div>
        <b>{{checkStatus}}</b>
    </div>
</div>
<hr>
<div class="bg-warning p-2" #attrbind (click)="access(attrbind)">
    <h5>Attribute binding</h5>
    <label for="password">Enter password:</label>
    <input [type]="inputType" id="password">
</div>
<div>
    <h5>Template Reference Variables</h5>
    <label>Enter company code:</label>
    <input type="text" (keyup)="setCode()">
</div>
</article>