<section>
    <h3>We’re Building For 
        Billions And Crafting Stories Of Bold Transformation</h3>
    <p>
        Engineering ideas to improvise lives, NeoSOFT over the past 25 
        years, has empowered ambitious change-makers around the world 
        with sustained digital capabilities. We are a trusted Digital 
        Engineering and Enterprise Modernization partner with offerings 
        that enable our clients’ by creating a unique competitive
        advantage. While leaving room for continuous enhancement,
        NeoSOFT has leveraged the most in-demand technologies, 
        methodologies, and framework components, for solving important 
        client challenges. Combining deep technical competencies and 
        industry experience, we ensure robustness, 
        extensibility, and continuity in the solutions we deliver.
    </p>
    <app-learning></app-learning>
    <nav class="bg-secondary w-50"> 
        <a routerLink="directives" class="m-2">LEARN DIRECTIVES</a>
        <a routerLink="pipes">LEARN PIPES</a>
    </nav>
    <router-outlet></router-outlet>
</section>
<!-- http://localhost:4200/home/pipes -->