<article class="row p-2" [ngStyle]="{backgroundColor:cardColor}">
    <figure class="col-lg-4 text-center">
        <h6>#{{employee._id}}</h6>
        <figcaption><b>{{employee.emp_name | titlecase}}</b></figcaption>
        <img class="rounded-pill" 
        [src]="employee.employee_pic!=undefined?'data:image/png;base64,'+employee.employee_pic:'resources/sampleemployeepic.png'" 
        height="170" width="170" alt="employee">
       
        <button type="button" mat-mini-fab [routerLink]="['/editpic', employee._id]"><mat-icon>camera</mat-icon></button> 
    </figure>
    <div class="col-lg-8">
        <p><span>{{employee.emp_name}}</span> joined on <i>{{employee.joining_date | date : 'medium'}}</i></p>
        <div>
            <div class="row">
                <div class="col">
                    <mat-list>
                        <mat-list-item>
                          <span matListItemTitle>Email Id</span>
                          <span matListItemLine>{{employee.emp_email}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <span matListItemTitle>Basic Salary</span>
                          <span matListItemLine>{{employee.emp_salary | currency :'INR'}}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="col">
                    <mat-list>
                        <mat-list-item>
                          <span matListItemTitle>Experience</span>
                          <span matListItemLine><b>{{employee.experience}}</b><span> years</span></span>
                        </mat-list-item>
                        <mat-list-item>
                            <span matListItemTitle>Department</span>
                            <span matListItemLine>{{employee.dept_code | uppercase}}</span>
                          </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
        <div>
            <button type="button" mat-fab extended class="m-2" [routerLink]="['/editemployee', employee._id]">EDIT <mat-icon>edit</mat-icon></button> 
            <button type="button" mat-fab extended (click)="emitter.emit(employee._id)">DELETE <mat-icon>delete</mat-icon></button>
        </div>
    </div>
</article>
<!-- http://localhost:4200/employees/editemployee/123 : wrong-->
 <!-- http://localhost:4200/editemployee/123 : right-->