<article class="row p-2" [ngStyle]="{backgroundColor:cardColor}">
    <figure class="col-lg-4 text-center">
        <h6>#{{employee._id}}</h6>
        <figcaption><b>{{employee.emp_name | titlecase}}</b></figcaption>
        <img class="rounded-pill" [src]="'data:image/png;base64,'+employee.employee_pic" height="170" width="170" alt="employee">
        <button type="button" class="btn btn-info m-2" [routerLink]="['/editpic', employee._id]">Edit Pic</button> 
    </figure>
    <div class="col-lg-8">
        <p><span>{{employee.emp_name}}</span> joined on <i>{{employee.joining_date | date : 'medium'}}</i></p>
        <ol class="list-group">
            <li class="list-group-item"><small>Email Id: </small> <b>{{employee.emp_email}}</b></li>
            <li class="list-group-item"><small>Basic Salary: </small> <b>{{employee.emp_salary | currency :'INR'}}</b></li>
            <li class="list-group-item"><small>Experience: </small> <b>{{employee.experience}}</b><span> years</span></li>
            <li class="list-group-item"><small>Department: </small> <b>{{employee.dept_code | uppercase}}</b></li>
        </ol>
        <div>
            <button type="button" class="btn btn-info m-2" [routerLink]="['/editemployee', employee._id]">EDIT</button> 
            <button type="button" class="btn btn-danger" (click)="emitter.emit(employee._id)">DELETE</button>
        </div>
    </div>
</article>
<!-- http://localhost:4200/employees/editemployee/123 : wrong-->
 <!-- http://localhost:4200/editemployee/123 : right-->